
		/**********************************************/
			.device_details{
				border-radius: 10px;
				overflow: hidden;
			}
			.table_header{	
						
				background: #FEA733;
			}
			.table_header td{
				color: #FFF;	
				border: 1px solid #FEA733 ;
			}
			.content_right table{
				/*width: 100%;*/
				min-width: 900px;
		
			}
			.table td{
				text-align: center;
			}
			
			/*********频道table***************/
			.channel_table{
				display: flex;
				flex-direction: row;	
			}
			.channel_table>li{
				flex: 1;
				float: left;
			
			}
			.channel_table>li>ol li{
				color: #373636;	
			}
			
			tr>td>img{
				width: 50px;
			}
			ol{
				height: 70px;
			}
			ol img{
				height: 50px;
			}
			 .page_nition{
				        
				        	width: 500px;
				        	margin: 20px auto 0;
				        	line-height: 35px;
				        	text-align: center;
				        }
				        .page_nition ul{
				        	margin: 0 10px;
				        	float: left;
				        	
				        }
			        	.page_nition ul li{
			        		float: left;
			        		margin-right: 10px;
			        		height: 35px;
			        		width: 35px;
			        		border: 1px solid #854D05;
			        		color: #000;
			        	}
			        	.first_page{
			        		float: left;
			        		height: 35px;
			        		width: 55px;
			        		background: #E5E5E5;
			        		border: 1px solid #E5E5E5;
			        		
			        		
			        	}
			        	.unable_choose{
			        		float: left;
			        		height: 35px;
			        		width: 55px;
			        		background: #E5E5E5;
			        		border: 1px solid #E5E5E5;
			        	}
			        	.last_page{
			        		height: 35px;
			        		width: 55px;
			        		background: #FEA733;
			        		float: left;
			        		border: 1px solid #854D05;
			        	}
			        	.color_use{
			        		color: #FFFFFF;
			        		background: #FEA733;
			        		border: 1px solid #854D05;
			        
			        		
			        	}
			        	.change_password{
			        		display: none;
			        		position: relative;
			        		border-radius: 10px;
			        		position: absolute;
			        		height: 300px;
			        		width: 500px;
			        		background: #FFFFFF;
			        		top: 0;
			        		left: 0;
			        		bottom: 0;
			        		right: 0;
			        		margin: auto;
			        	}
			        	.change_password input{
			        		outline:0;
			        		height: 28px;
			        		width: 298px;
			        		border: 1px solid #9C6001;
			        	}
			        	.change_password>p{
			        		text-align: center;
			        		margin: 20px 0;
			        		font-size: 22px;
			        		color: #000000;
			        		
			        	}
			        	.password_form p{
			        		font-size: 14px;
			        		color: #383838;
			        	}
			        	.password_label{
			        		display: inline-block;
			        		width: 120px;
			        		text-align: right;
			        	}
			        	.submit_password{
			        		display: block;
			        		height: 40px;
			        		width: 120px;
			        		background: #FEA733;
			        		color: #fff;
			        		border-radius: 10px;
			        		border: none;
			        		margin: 30px auto;
			        		font-size: 18px;
			        		text-align: center;
			        		line-height: 40px;
			        	}
			        	.close_password{
			        		position: absolute;
			        		right: 8px;
			        		top: 8px;
			        		
			        	}
			        	.zhezaocen{
			        		display: none;
			        		position: absolute;
			        		height: 100%;
			        		width: 100%;
			        		background: #000000;
			        		opacity: 0.3;
			        		/*z-index: 10;*/
			        		filter: alpha(opacity=30);
			        	}
			        	.content_right{
			        		background: url(../img/bg_repeat.png) repeat-x;
			        	}
			        	.error_title{
			        		
			        		color: red;
			        	}
			        	
/***************关于我的信息***********************************/
		.aboutme{
			display: none;
			height: 260px;
			width: 320px;
			background: #fff;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			margin: auto;
			border-radius: 10px;
			padding: 30px;
			box-shadow: 0px 5px 48px -1px #000000;
		}
		
		.aboutme p{
			line-height: 30px;
		}
		.aboutme p img{
			height: 30px;
			display: inline-block;
			vertical-align:bottom;
			margin-right: 10px;
		
		}
		.aboutme_warp{
			margin-top: 20px;
			
		}
		.aboutme_warp span{
			margin-top: 10px;
		}
		.touxian{
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			top:-40px;
			height: 80px;
		}
		

.addPic img{
	height: 70px;
	width: 70px;
}
